@{ 
    ViewBag.Title = "Privacy Policy";
}

<h2>ShiftOS - Privacy Policy</h2>
<p>We at ShiftOS value privacy of both ourselves and you, the users. We won’t sugar code this document with a bunch of legal mumbojumbo. We won’t make an incredibly, unnecessarily long document explaining what we do. We’ll get to the point.</p>
<p></p>
<h3>Cookies - Yes, we use them.</h3>
<p>We understand people’s concerns about cookies and how they can be used to track your web usage habits across multiple websites so big companies can see what you’re doing and target ads at you related to what you like.</p>
<p>We don’t do that. In fact, we don’t consider that as a “cookie”. We consider that as spyware. The cookies we set on your system are ONLY, and we repeat, <strong>ONLY</strong> used to store session data - a.k.a what user you’re logged into, stuff like that. Stuff that is required in order for us to keep you logged in across pages without you needing to login every time you click a button.</p>
<h3>What about my personal information? My full name, my email, etc?</h3>
<p>Your email is only used for server notifications, or, if you explicitly enable it in your Account Settings, to allow people from the community to contact you. We will not publicly display personal information unless the following things occur.</p>
<ol type="1">
<li><p>You tell us what that information is</p></li>
<li><p>You enable the corresponding privacy settings</p></li>
</ol>
<h3>What exactly are you guys storing about me?</h3>
<p>We are storing account details that you’ve inputted - such as your display name, email, privacy settings, profile data, and other account settings. We also store your ShiftOS Codepoints and in-game hostname.</p>
<p>We also can see the forum posts/topics, profile posts, contest entries, Skin Repository downloads, blog posts, wiki pages, and bug reports you have made on the platform.</p>
<h3>What do you do with it all?</h3>
<p>For your Codepoints and system hostname, these are used in-game. Codepoints for upgrade and application purchases, and your hostname for secure identification in the Digital Society.</p>
<p>For other content, we use it purely for statistical analysis of the ShiftOS community and game to help improve the experience. Additionally, we may look through the data for troubleshooting purposes in the case of a major platform bug, and we will notify you of such occasion.</p>
<p>We will also use your user-created content to display publicly on the website for others to see.</p>
<h3>I’m still worried.</h3>
<p>If you have any questions, feel free to contact us using the <strong>Send Feedback</strong> button at the top of the page, and clicking <strong>Privacy &amp; Security</strong> under the support topic.</p>
<p>We are happy to help you.</p>
