@model Project_Unite.Models.AddUserToRoleViewModel

@{
    ViewBag.Title = "Add user to role";
}

<h2>Add user to role</h2>

@using (Html.BeginForm())
{
	<table class="table-condensed">
		<tr>
			<td>@Html.DisplayNameFor(Model => Model.Username)</td>
			<td>@Html.DropDownListFor(Model => Model.Username, Model.Users, new { @class = "form-control" })</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(Model => Model.RoleId)</td>
			<td>@Html.DropDownListFor(Model => Model.RoleId, Model.Roles, new { @class = "form-control" })</td>
		</tr>

	</table>
	<input type="submit" class="btn btn-primary" value="Add" />
}

