@model Project_Unite.Models.AddUserToRoleViewModel

@{
    ViewBag.Title = "Add user to role";
}

<h2>Add user to role</h2>

@using (Html.BeginForm())
{
	<table class="table-condensed">
		<tr>
			<td>@Html.DisplayNameFor(model => model.Username)</td>
			<td>@Html.DropdownListFor(model => model.Username, Model.Users, new { @class = "form-control" })</td>
		</tr>
		<tr>
			<td>@Html.DisplayNameFor(model => model.RoleId)</td>
			<td>@Html.DropDownListFor(model => model.RoleId, Model.Roles, new { @class = "form-control" })</td>
		</tr>

	</table>
	<input type="submit" class="btn btn-primary" value="Add" />
}

