
@{
    ViewBag.Title = "Administration Control Panel";
}

<p>Wow, an actual index page.</p>

<button class="btn btn-default" onclick="sendMessageToApi();">Send test notification.</button>

<script>
    function sendMessageToApi() {
        $.ajax({ url: "/API/TestNotification" });
    }
</script>