
@{
    ViewBag.Title = "Administration Control Panel";
}

<p>Wow, an actual index page.</p>

<button class="btn btn-default" onclick="$.ajax({ url: '/API/TestNotification' });">Send test notification.</button>

