
@{
    ViewBag.Title = "Dev Control Panel";
}

<h2>Welcome!</h2>

<p>Hey devs! In the future, this page will give you fancy details on how ShiftOS and the website are progressing. But, that data is not yet available to me - so for now, here's some placeholder text telling you that the dev CP is work-in-progress.</p>