
@{
    ViewBag.Title = "Access denied.";
}

<h2>Access denied.</h2>

<p>It seems you've tried to access a page you shouldn't access. Maybe it's the admin control panel, maybe you wanted to ban someone but you aren't a moderator. I don't know, but I'm told you can't do that.</p>

<div class="row">
    <div class="col-xs-6">
        <h4>If you're Michael...</h4>

        <p>You PROBABLY did something wrong in the source code of the website. Consider debugging and testing before deploying.</p>
    </div>
    <div class="col-xs-6">
        <h4>If you're a staff member and this is in error...</h4>

        <p>Well, you're not Michael, so you better go contact him so he can investigate.</p>
    </div>
</div>