@{
    ViewBag.Title = "Contact";
}

<h2>Get in touch</h2>

<p>The best way to get in touch with us devs is either through the forums or the Discord - both found in the "Community" menu at the top - but if you need more of a one-to-one type of conversation, the below information may be of help.</p>

<h3>Contact Michael</h3>

<p>Hi. I'm Michael - lead dev of ShiftOS. If you need help with something, shoot me a DM on Discord or email me. You can also private-message my ShiftOS account. I check my inbox regularly.</p>

<p><strong>Email me:</strong><br/>
    
    <a href="mailto:michaelshiftos@gmail.com">Click to email me using your system mail client.</a></p>

<h4>Please note!</h4>

<p>You should only email me for the following purposes:</p>

<ol>
    <li>General questions about ShiftOS</li>
    <li>Ban appeals</li>
    <li>Reporting of rogue staff</li>
    <li>Unite API assistance</li>
</ol>

<p>I will <strong>not</strong> allow spam of my email address, and if you end up spamming me, I will ban you from the multi-user domain.</p>

<h4>Response times</h4>

<p>I check my email as soon as I wake up, and get on my computer. I check it three times a day, and if I see your message, I will reply as soon as possible. Just be patient - I've got a game to code and maintain after all!</p>

<h3>Contact the dev team collectively</h3>

<p>If for some reason you need to shoot a message at the entire dev team, you can either private-message the "Developers" group on this site, or shoot an email to sys@michaeltheshifter.me. I will forward the message to the development room.</p>