
@{
    ViewBag.Title = "Discord";
}

<h2>Discord</h2>

<p>Discord is a free instant-messaging application supporting both text and voice chatting. It is also a very awesome way to hang out with the ShiftOS community. In fact, being on the ShiftOS Discord server could potentially get you a spot on ShiftHangout - our biweekly community hangout livestream.</p>

<p>You may join our Discord by clicking this button:</p>

<a href="https://discord.gg/Vfhp78J" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-comment"></span> Join the Discord!</a>

<h3>Disclaimer</h3>

<p>Our server is set up to mute all communications from new members for the first 10 minutes of them being on the server. This is a spam countermeasure. If your account was created on the same day you joined the server, at the end of the 10-minute wait you may be placed in an interrogation room so we can prove you are not a spammer.</p>

<p>To prove you are not a spammer, either post a link to your ShiftOS profile, or your YouTube channel, or another public social media account. This is a rare counter-measure and only happens if your username is similar to a previously-banned spammer.</p>

<p>We welcome you to come in at any time - and once you get through the anti-spam measures, you won't be bugged about it again!</p>

<p><strong>Remember to stay civil, follow the rules in the #rules channel, and have fun.</strong></p>