@{
    var db = new Project_Unite.Models.ApplicationDbContext();
}


<div class="jumbotron text-center">
    <h1>ShiftOS</h1>
    <p>The world's most revolutionary operating system</p>
    <a href="@Url.Action("About")" class="btn btn-primary">Oh yeah? Tell me more.</a>
</div>

<div class="row">
    <div class="col-xs-6 col-lg-3">
        <h2>Shift it your way.</h2>
        <p>ShiftOS is one of the most customizable operating systems ever created by mankind, and with that said, it is the most easy to use.</p>
        <p>It has never been easier to create stylish, amazing user experiences using ShiftOS, and if you're still not inspired, have a look at what other Shifters have made!</p>
        <a href="@Url.Action("Index", "Skins")" class="btn btn-default">Take me to the Skin Repo!</a>
    </div>
</div>