@{
    ViewBag.Title = "Home Page";
}

<header style="text-align:center;">
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">Welcome to the multi-user domain.</h1>
			<hr>
			<p>You are walking into a world of skins, applications, games, websites, viruses, and untold mysteries. Shift it your way while you uncover the truth behind ShiftOS and the multi-user domain.</p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Let's go!</a>
		</div>
	</div>
</header>

<section id="demo_skins" class="row">
	<div class="col-xs-4">
		<img src="http://shiftos.michaeltheshifter.me/uploads/default/optimized/1X/93d30d12608231eccf8a735c3ad56354d2caf48b_1_690x388.png" style="width:100%;height:100%" />
	</div>
	<div class="col-xs-8">
		<h4>Shift it your way.</h4>
		<p>With ShiftOS's extensive skinning system, you can make ShiftOS look any way you want. All it takes is your imagination, and some time, and soon you'll be using the OS of your dreams.</p>
		
		<h5>ArtPad and the Shifter</h5>

		<p>Want to make your very own skin? We've made it easy! Just use the ArtPad application to make textures for the various UI elements - then use the Shifter to apply them and move and resize things, and set the fonts, colors and behaviours you want.</p>

		<h5>The Skin Repository</h5>
	
		<p>Want to download pre-made skins to shape up your user-experience? Have a look at the Skin Repository! You can even post your own skins there!</p>

		<a href="/Skins" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> Open the Skin Repository!</a>
	</div>
</section>

<section id="demo_community" class="row">
	<div class="col-xs-8">
		<h4>Share the way you shift it.</h4>
		<p>ShiftOS is not just an evolving operating system, it's a community as well! Come jump in, say hi, show off what you've done, and get to know us!</p>

		<h5>Join us on this very site</h5>

		<p>You don't have to leave the website to be a part of the community! Just create a user account, and you'll unlock a whole new world of things to do!</p>

		<h5>We have a Discord server!</h5>

		<p>Discord is the perfect way to get in touch with us live, anywhere you want. Just click the link below and say hi!</p>
	
		<a href="https://discord.gg/Vfhp78J" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> Join the Discord.</a>
	</div>
	<div class="col-xs-4">
		<img src="http://shiftos.michaeltheshifter.me/uploads/default/optimized/1X/93d30d12608231eccf8a735c3ad56354d2caf48b_1_690x388.png" style="width:100%;height:100%" />
	</div>

</section>


<section id="about">
	<h4>Ready to jump in?</h4>

	<p>Ready to jump into the world of ShiftOS? Cool! First, let's get you set up with a client. Simply click "Download" at the top of the page - and download the latest stable or unstable client - or you can download our AppVeyor release of the game or compile from source.</p>

	<a href="https://ci.appveyor.com/project/ComputeLinux/shiftos"><img alt="Build status" src="https://ci.appveyor.com/api/projects/status/ktdv3nt6c3q88g2t?svg=true"></a> - Click that to go to our AppVeyor page.

	<p>...Or you can get the source code: <a href="http://github.com/shiftos-game/ShiftOS" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> ShiftOS Code on GitHub</a></p>
</section>
